<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Архив статей</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/style.css">
</head>
<body class="archive">
    {% load static %}
    <div class="header">
        <img src="{{ STATIC_URL }}/static/logo1.jpg" alt="Logo image" />
    </div>
    <h4>
        <a href="/articles/new/"><h4 class="post-title">Создать новую статью</h4></a>
        <a href="/register"><h4 class="post-title">Регистрация</h4></a>
        <a href="/login/">Войти</a>
    </h4>

    {% for post in posts %}
    <div class="one-post">
        <a href="/articles/{{post.id}}/"><h2 class="post-title">{{ post.title }}</h2></a>
        <div class="article-info">
            <div class="article-author">{{ post.author.username }}</div>
            <div class="article-created- date">{{ post.created_date }}</div>
        </div>
        <p class="article-text">{{ post.get_excerpt }}</p>
    </div>
    {% endfor %}
</body>
</html>